*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Outfit, sans-serif";
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #041b34;
    height: 100vh;
    gap: 20px;
    flex-direction: column;
   

}
.card{
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 300px;
    border-radius: 8px;
    background-color: #063970;

    
}

.card__image{
    height: 200px;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.card__image:hover{
    scale: 1.01;
}
.card__title{
    font-size: 20px;
    color: white;
}

.card__time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__time-left img ,.card__time-right img {
    height: 16px;
   
}

.card__time-left{
    color: #07e1dd;
    font-weight: 700;
    
}

.card__time-right{
    color: gray;
}
.card-details{
     color: rgb(107, 111, 114);
     font-size: 16px;
     padding-top: 10px;
     padding-bottom: 10px;
     line-gap-override: 2px;
}

.footer{
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: 1px solid gray;
    padding-top: 20px;
}
.footer img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}
.footer p{
    color: gray;
}
.footer span{
    color: white;
    
}

.created-by{
    font-size: 14px;
}
.created-by p{
    color: gray;
}
.created-by a{
    color: #07e1dd;
}